body {
  font: 15pt Arial, sans-serif;
}

.navbar {
  background-color: rgb(167, 170, 168);
}
.navbar-collapse {
  justify-content: space-between;
}

.navbar-collapse .language {
  margin-right: 15px;
}

.margin {
  padding: 40px 40px;
}

.who-we-are {
  background-color: rgb(220, 230, 226);
  display: flex;
  justify-content: space-evenly;
}

.about {
  text-align: left;
}

.rounded-circle:hover {
  cursor: pointer;
}

.partnerships {
  /* padding: 40px 40px; */
  background-color: rgb(231, 241, 238);
}

.services {
  background-color: whitesmoke;
}

.carousel-inner img {
  height: 75vh;
}

#collapseExample1 {
  margin: 0 5rem 0 10rem;
}

#btn-close-send-message {  
  position: fixed;
  z-index: 9999;
  right: 40px;
  bottom: 30px;  
  background-color: rgb(179, 179, 233);
  border: 2px solid rgb(112, 192, 145);  
  color: black;
  text-align: center;
  width: 7%;
  height: 15%;  
  font-size: 15px;
}

#btn-close-send-message:hover {
  background-color: rgb(148, 151, 150);
}

.justify input{
  width: 100%;  
}

.justify textarea {
  margin-top: 15px; 
  width: 100%;
}

/* LOADING IMAGE */
#loading {
  width: 3rem;
  height: 3rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #545157;
  border-radius: 100%;
  margin: auto;  
  visibility: hidden;
  animation: spin 1s infinite linear;
}
#loadingSpan {
  margin-right: 50px;
  visibility: hidden;
}
#loading.display {
  visibility: visible;
}
#loadingSpan.display {
  visibility: visible;
}

#collapseExample li {
  text-align: left;
}

#collapseExample1 .card-body {
  width: fit-content;
}

#fatecImg {
  width: inherit;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.text-mobile {
  display: block;
}

.language select {
  background-color: #e3e3e3;
  cursor: pointer;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1) grayscale(1);
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {   
  .stack {
    display: grid;
    margin-left: 30px;
    font-weight: bold;
  }

  .stack > li > a {
    font-size: 15px;
  }

  #btn-close-send-message {
    font-size: 12px;
    width: auto;
  } 
  
  .container div > img {
    width: inherit;
  }

  #who-we-are,
  #who-we-are .about-me h3 {
    font-size: 15px;
  }

  #who-we-are .about-me img {
    max-width: 100%;
    height: auto;
  }

  #collapseExample1, #collapseExample {
    display: block;
    margin: 15px 0;
  }

  #collapseExample1 .card-body {
    width: 100%;
  }

  .text-mobile {
    display: none;
  }

  .language select {
    width: auto;
    margin-left: 30px;
    background-color: #e3e3e3;
    cursor: pointer;
  }
}