body {
  font: 15pt Arial, sans-serif;
}

.navbar {
  background-color: rgb(112, 192, 145);
}

.margin {
  padding: 40px 40px;
}

.who-we-are {
  background-color: rgb(220, 230, 226);
  }

.partnerships {
  /* padding: 40px 40px; */
  background-color: rgb(231, 241, 238);
}

.services {
  background-color: whitesmoke;
}

.carousel-inner img {
  height: 75vh;
}

#btn-close-send-message {
  /* position: absolute;  */
  position: fixed;
  z-index: 9999;
  right: 40px;
  bottom: 30px;
  
  background-color: rgb(179, 179, 233);
  border: 2px solid rgb(112, 192, 145);
  color: black;
  /* transition: 0.5s ease-in; */
  text-align: center;
  width: 7%;
  height: 15%;
  /* font-size: 15px; */
}

#btn-close-send-message:hover {
  background-color: rgb(148, 151, 150);
}


.justify input{
  width: 100%;
  
}

.justify textarea {
  margin-top: 15px; 
  width: 100%;
}

.navbar-collapse #new-Tag {
  position: absolute;
  right: 50px;
}

/* LOADING IMAGE */
#loading {
  width: 3rem;
  height: 3rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #545157;
  border-radius: 100%;
  margin: auto;  
  visibility: hidden;
  animation: spin 1s infinite linear;
}
#loadingSpan {
  margin-right: 50px;
  visibility: hidden;
}
#loading.display {
  visibility: visible;
}
#loadingSpan.display {
  visibility: visible;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}




/* RESPONSIVE NAVBAR UL */
@media (max-width: 1000px) {
   
  .stack {
    font-size: medium;
    display: grid;
    margin-left: 30px;
    font-weight: bold;
  }

  #btn-close-send-message {
    font-size: 15px;
    width: 10vw;
  }
}

@media (max-width: 700px) {
  #btn-close-send-message {
    font-size: 12px;
    width: 15vw;
  }
}

@media (max-width: 380px) {
  #btn-close-send-message {
    font-size: 10px;
    width: 15vw;
  }

  .nav-item {
    visibility: hidden;
  }
}
